<h2><%= @flat.title %></h2>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.bed %></p>
<p><%= @flat.bath %></p>
<p><%= @flat.bedroom %></p>
<p><%= @flat.price %></p>
<% @flat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<ul class="list-group">
  <% @flat.bookings.each do |booking| %>
    <li class="list-group-item">
      <%= booking.checkin_date %>,<%= booking.checkout_date %>,<%= booking.guest %>,
      <ul class="list-group">
        <li class="list-group-item"><%= booking.review.rating %>,<%= booking.review.content %></li>
      </ul>
      <%= link_to 'Leave a review', new_booking_review_path(booking) %>
      <%= link_to "Remove",
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete a booking?" } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
<%= link_to 'Book', new_flat_booking_path(@flat) %>
