<h2><%= @flat.title %></h2>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.bed %></p>
<p><%= @flat.bath %></p>
<p><%= @flat.bedroom %></p>
<p><%= @flat.price %></p>
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
