<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'shared/molecules/navbar' %>
    <%= render 'shared/atoms/flashes' %>
    <div class="p-3">
      <%= yield %>
    </div>
    <%= render 'shared/molecules/footer' %>
  </body>
</html>
